themes/twenty*
themes/index.php
plugins/akismet
plugins/classic-editor
plugins/hello.php
plugins/index.php
plugins/taxonomy-terms-order
plugins/mathjax-latex
plugins/simple-mathjax
plugins/crayon-syntax-highlighter
plugins/backup
plugins/wp-add-mime-types
plugins/wp-codemirror-block
Images/*
uploads/*